th.imagesTh {
  width: 100px;
}
@media (min-width: 768px) {
  th.imagesTh {
    width: 150px;
  }
}
.noImage {
  display: block;
  height: 60px;
  width: 80px;
  background: #ccc;
  text-align: center;
  color: #fff;
  font-weight: 400;
  line-height: 60px;
}
@media (min-width: 768px) {
  .noImage {
    height: 90px;
    width: 120px;
    font-weight: 700;
    line-height: 90px;
  }
}
.thumbImage {
  display: block;
  height: 60px;
  width: 80px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .thumbImage {
    height: 90px;
    width: 120px;
  }
  .thumbImage:hover {
    background-size: contain;
    background-color: #ddd;
  }
}
.table-status-prospective, .table-status-prospective>td, .table-status-prospective>th,
.table-status-unregistered, .table-status-unregistered>td, .table-status-unregistered>th,
.table-status-pending, .table-status-pending>td, .table-status-pending>th {
  background-color: #c3e6cb;
}
.table-status-prospective, .table-status-prospective>td, .table-status-prospective>th {
  opacity: .65;
}
.table-status-unregistered, .table-status-unregistered>td, .table-status-unregistered>th {
  opacity: .85;
}
.table-status-suspended, .table-status-suspended>td, .table-status-suspended>th,
.table-status-deregistered, .table-status-deregistered>td, .table-status-deregistered>th,
.table-status-unrelated, .table-status-unrelated>td, .table-status-unrelated>th {
  background-color: #d6d8db;
}
.table-status-deregistered, .table-status-deregistered>td, .table-status-deregistered>th {
  opacity: .85;
}
.table-status-unrelated, .table-status-unrelated>td, .table-status-unrelated>th {
  opacity: .65;
}
